<%= form_for(@prompt) do |f| %>
  <% if @prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul>
      <% @prompt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prompt_text %><br>
    <%= f.text_field :prompt_text, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :results_text %><br>
    <%= f.text_field :results_text, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :people_around_text %><br>
    <%= f.text_field :people_around_text, class: 'form-control'  %>
  </div>  
  <div id="placeholder_text" class="field">
    <label>Placeholder text</label><br>
    <%= f.text_field :prompt_placeholder_text, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :prompt_type %><br>
    <%= f.select :prompt_type, options_for_select([ "open_ended", "multiple_choice", "duel", "geo" ], "open_ended"), class: 'form-control'  %>
  </div>
  
  <br/>
  <div id="nested_fields">
  <%= f.add_nested_fields_link :choices, 'Add prompt choice', class: 'btn btn-primary', role: 'button' %>
  <br/>
  <br/>
  <%= f.nested_fields_for :choices do |ff| %>
    <div class="panel panel-default">
      <div class="panel-heading">Choice <%= ff.remove_nested_fields_link '<i class="fa fa-trash"></i>'.html_safe, class: 'text-danger', role: 'button' %></div>
      <div class="panel-body">
        
        <%= ff.text_field :choice_text, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  </div> <!-- #nested_fields -->

  </div>
  <div class="panel-footer"><%= link_to 'Back', prompts_path, class: "btn btn-warning" %> <%= f.submit class: 'btn btn-success' %></div>
</div>
<% end %>

<% content_for :footer do %>
<script type="text/javascript">
  $('#prompt_prompt_type').change(function(){
    prompt_show()}
  );
  
  $(document).ready(function() {
    prompt_show();
  });
  
  function prompt_show(){
    if ( $('#prompt_prompt_type option:selected').val() == "open_ended" ) {
      $("#nested_fields").hide();
      $('#placeholder_text').show();
    } else {
      $("#nested_fields").show();
      $('#placeholder_text').hide();
    }
  };
</script>

<% end %>
