<p id="notice"><%= notice %></p>

<h1>Prompts <%= link_to 'Create Prompt', new_prompt_path, class: 'btn btn-primary' %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Prompt Text</th>
      <th>Responses</th>
      <th>Prompt type</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prompts.each do |prompt| %>
      <tr>
        <td><%= prompt.prompt_text %></td>
        <td><span class="badge"><%= prompt.answers.count %></span></td>
        <td><span class="label label-<%=prompt_type_label(prompt.prompt_type)%>"><%= prompt.prompt_type %></span></td>
        <td><input type="radio" name="is_active" id="is_active_<%=prompt.id%>" value="<%=prompt.id%>" <%=prompt.active? ? "checked":""%>></td>
        <td><%= link_to 'Show', prompt %></td>
        <td><%= link_to 'Edit', edit_prompt_path(prompt) %></td>
        <td><%= link_to 'Destroy', prompt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :footer do %>
<script type="text/javascript">
  $("input[name='is_active']:radio").change(function(){
    console.log($(this).val());
        $.ajax({
            url: "/prompts/set_active/"+$(this).val(), 
            success: function(result){
                $("#div1").html(result);
              }
        });
  });
</script>
<% end %>