<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-xs-2 col-sm-offset-2 hidden-xs"><%= image_tag "generic_boy_avatar.png", height: "466", id: "lg_avatar" %></div>
        <div class="col-xs-3 visible-xs-inline-block"><%= image_tag "generic_boy_avatar.png", height: "320", id: "lg_avatar" %></div>
        <div class="col-sm-6 col-xs-10">
          <div class="row">
            <div class="col-xs-12 visible-xs-block">
              <span class="hello-xs text-right">Hello</span><br/>
            </div>
            <div class="col-sm-12 hidden-xs">
              <span class="hello">Hello</span><br/>
            </div>
         
            <div class="col-sm-12 col-xs-12">
              <p>
                Connect to WiFi and join our community!<br/><br/>
                <mark style="line-height: 28px"><span class="badge"><%= @prompt.answers.count %></span> people working from Philz Coffee right now answered...</mark>
              </p>
              <hr style="border-top: dotted 1px;color: #979797" />
            </div>
          </div>
          <div class="row well">
            <div class="col-xs-12">
              <p><i class="fa fa-commenting-o fa-flip-horizontal"></i> <%= @prompt.prompt_text %></p>
              <% if @prompt.prompt_type == "open_ended" %>
                <label for="answer" class="sr-only">Share your answer here!</label>
                <input id="answer" type="input" class="form-control" placeholder="<%= @prompt.prompt_placeholder_text %>" required autofocus>
              <% elsif @prompt.prompt_type == "duel" or @prompt.prompt_type == "multiple_choice" %>
              <div id="holder">
                <div>
                  <table>
                  <% if @prompt.prompt_type == "duel" %>
                    <tr>
                    <td><input type="radio" id="choicesRadio<%=@choices[0].id%>" name="choicesRadio" class="regular-radio" value="<%=@choices[0].id%>"/><label for="choicesRadio<%=@choices[0].id%>"></label></td>
                    <td valign="top" width="50%" style="padding-left: 5px;"><span class="bold-font"><%=@choices[0].choice_text%></span></td>
                    <td><input type="radio" id="choicesRadio<%=@choices[1].id%>" name="choicesRadio" class="regular-radio" value="<%=@choices[1].id%>"/><label for="choicesRadio<%=@choices[1].id%>"></label></td>
                    <td valign="top" width="50%" style="padding-left: 5px;"><span class="bold-font"><%=@choices[1].choice_text%></span></td>
                    </tr>
                  <% else %>
                  
                  <% @choices.each do |choice| %>
                    <tr>
                    <td><input type="radio" id="choicesRadio<%=choice.id%>" name="choicesRadio" class="regular-radio" value="<%=choice.id%>"/><label for="choicesRadio<%=choice.id%>"></label></td>
                    <td valign="top" style="padding-left: 5px;"><span class="bold-font"><%=choice.choice_text%></span></td>
                    </tr>
                  <% end %>
                  
                  <% end %>
                  </table>
                </div>
              </div>
              <% elsif @prompt.prompt_type == "geo" %>
                <form>
                  <input id="geocomplete" type="text" class="form-control" placeholder="<%= @prompt.prompt_placeholder_text %>" required autofocus />
                    <input id="lat" name="lat" type="hidden" value="">
                    <input id="lng" name="lng" type="hidden" value="">
                    <input id="administrative_area_level_1" name="administrative_area_level_1" type="hidden" value="">
                    <input id="country" name="country" type="hidden" value="">
                    <input id="country_short" name="country_short" type="hidden" value="">
                </form>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div id="holder">
                <div>
                  <table><tr>
                    <td><input type="checkbox" id="checkbox-terms" class="regular-checkbox" /><label for="checkbox-terms"></label></td>
                    <td valign="top" style="padding-left: 5px;">I agree to <a href="/pages/terms">the WiFi terms and conditions</a>.</td>
                  </tr></table>
                </div>
              </div>
              <button id="connect_and_view" class="btn btn-orange" type="submit">Connect to WiFi and <em>Read the Room.</em></button>
            </div>
          </div> <!-- .row -->
        </div> <!-- .col-md-6 -->
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

<% content_for :footer do %>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?libraries=places'></script>
<% if @prompt.prompt_type == "geo" %>
  <script  type="text/javascript" src="/js/jquery.geocomplete.min.js"></script>
  <script type="text/javascript">


      $("#lg_avatar").click(function(e) {
       e.preventDefault();
       $(this).attr("src", "img/avatar_1.png");
      });


      $(function(){
        
        $("#geocomplete").geocomplete({
          details: "form",
          types: ["geocode", "establishment"],
        });
        
        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
        
        
        $("#examples a").click(function(){
          $("#geocomplete").val($(this).text()).trigger("geocode");
          return false;
        });
        
      });
  </script>
<% end %>
<script type="text/javascript">
 
  $('#connect_and_view').on('click', function(){
    var promptId = <%= @prompt.id %>;
<% if @prompt.prompt_type == "open_ended" %> 
    var answer = $('#answer').val();
    
    $.ajax({
      url: "/answers/record?prompt_id="+promptId+"&answer="+answer,
      type: 'POST',
      success: function(msg) {
        document.location.href='/pages/word_cloud/<%=@prompt.id%>';
      }
    });
    
  });
<% elsif @prompt.prompt_type == "duel" or @prompt.prompt_type == "multiple_choice" %>
    var answer = $('input[name=choicesRadio]:checked').val();
    $.ajax({
      url: "/answers/record?prompt_id="+promptId+"&choice_id="+answer,
      type: 'POST',
      success: function(msg) {
        document.location.href='/pages/bar_chart/<%=@prompt.id%>';
      }
    });
    
  });
<% elsif @prompt.prompt_type == "geo" %>
    var answer = $('#geocomplete').val();
    var lat = $('#lat').val();
    var lng = $('#lng').val();
    var state = $('#administrative_area_level_1').val();
    var country = $('#country').val();
    var country_short = $('#country_short').val();
    $.ajax({
      url: "/answers/record?prompt_id="+promptId+"&answer="+answer+"&lat="+lat+"&lng="+lng+"&state="+state+"&country="+country+"&country_short="+country_short,
      type: 'POST',
      success: function(msg) {
        document.location.href='/pages/geo_results/<%=@prompt.id%>';
      }
    });
    
  });
<% end %>  
</script>
<% end %>