<% content_for :head do %>
<style type="text/css">
  .hello {
    font-family: font-family: 'Lato', sans-serif;
    font-size: 144px;
    color: #000000;
    line-height: 197px;
  }
  p { color: #0e0e0e; font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 18px }
  .normal-font { font-family: 'Open Sans', sans-serif; font-weight: 400; }
  .bold-font { font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 24px; }
</style>
<% end %>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-2 col-md-offset-2 text-right"><%= image_tag "generic_boy_avatar.png", height: "280", style: "padding-top:40px" %></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <span class="hello">Hello</span><br/>
              <p>
                Connect to WiFi and join our community!<br/><br/>
                <mark><span class="badge"><%= @prompt.answers.count %></span> people working from Philz Coffee right now answered...</mark>
              </p>
              <hr style="border-top: dotted 1px;color: #979797" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 well">
              <p><i class="fa fa-commenting-o fa-flip-horizontal"></i> <%= @prompt.prompt_text %></p>
              <% if @choices.blank? %>
                <label for="inputEmail" class="sr-only">Share your answer here!</label>
                <input id="answer" type="input" class="form-control" placeholder="<%= @prompt.prompt_placeholder_text %>" required autofocus>
              <% else %>
              <div id="holder">
                <div>
                  <table>
                  <% if @prompt.prompt_type == "duel" %>
                    <tr>
                    <td><input type="radio" id="choicesRadio<%=@choices[0].id%>" name="choicesRadio" class="regular-radio" value="<%=@choices[0].id%>"/><label for="choicesRadio<%=@choices[0].id%>"></label></td>
                    <td valign="top" width="50%"><span class="bold-font">&nbsp;&nbsp;<%=@choices[0].choice_text%></span></td>
                    <td><input type="radio" id="choicesRadio<%=@choices[1].id%>" name="choicesRadio" class="regular-radio" value="<%=@choices[1].id%>"/><label for="choicesRadio<%=@choices[1].id%>"></label></td>
                    <td valign="top" width="50%"><span class="bold-font">&nbsp;&nbsp;<%=@choices[1].choice_text%></span></td>
                    </tr>
                  <% else %>
                  
                  <% @choices.each do |choice| %>
                    <tr>
                    <td><input type="radio" id="choicesRadio<%=choice.id%>" name="choicesRadio" class="regular-radio" value="<%=choice.id%>"/><label for="choicesRadio<%=choice.id%>"></label></td>
                    <td valign="top"><span class="bold-font">&nbsp;&nbsp;<%=choice.choice_text%></span></td>
                    </tr>
                  <% end %>
                  
                  <% end %>
                  </table>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="holder">
                <div>
                  <table><tr>
                    <td><input type="checkbox" id="checkbox-terms" class="regular-checkbox" /><label for="checkbox-terms"></label></td>
                    <td valign="top">&nbsp;&nbsp;I agree to <a href="/pages/terms">the WiFi terms and conditions</a>.</td>
                  </tr></table>
                </div>
              </div>
              <button id="connect_and_view" class="btn btn-orange btn-block" type="submit">Connect to WiFi and <em>Read the Room.</em></button>
            </div>
          </div> <!-- .row -->
        </div> <!-- .col-md-6 -->
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

<% content_for :footer do %>
<script src="/assets/google_analytics.self-988e49f5dbadf1d7a81363e41c935547701e82df2321e1c8d7a9fd5fd6aee471.js?body=1"></script>
<script type="text/javascript">
 
  $('#connect_and_view').on('click', function(){
    var promptId = <%= @prompt.id %>;
<% if @choices.blank? %> 
    var answer = $('#answer').val();
    
    $.ajax({
      url: "/answers/record?prompt_id="+promptId+"&answer="+answer,
      type: 'POST',
      success: function(msg) {
        document.location.href='/pages/word_cloud/<%=@prompt.id%>';
      }
    });
    
  });
<% else %>
    var answer = $('input[name=choicesRadio]:checked').val();
    $.ajax({
      url: "/answers/record?prompt_id="+promptId+"&choice_id="+answer,
      type: 'POST',
      success: function(msg) {
        document.location.href='/pages/bar_chart/<%=@prompt.id%>';
      }
    });
    
  });
<% end %>  
</script>
<% end %>