<!-- Page Content -->
<ul id="says_who">
<a href="/pages/says_who/<%= params[:id] %>" >Says who?</a>
</ul>

<div class="container">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>You are now connected to Philz WiFi!</strong> You can close this window or explore the responses from the people who are here right now.
    </div>    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1><%= @prompt.prompt_text %></h1>
        <div id="chartdiv"></div>		  
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Suggest tomorrow's question...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Submit</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
</div>



<% content_for :footer do %>
<script src="/js/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/js/amcharts/serial.js" type="text/javascript"></script>

<%# orange: #ED8C2B; red: #EB4A42; %>

<script type="text/javascript">
var chart = AmCharts.makeChart("chartdiv",
{
    "type": "serial",
    "dataProvider": [
      <% @chart_data.each_with_index do |(k, v), index| %>
        {
        "name": "<%= k %>",
        "responses": <%= v %>,
        <% if k == @winning_answer %>
        "color": "#EB4A42"
        <% else %>
        "color": "#ED8C2B"
        <% end %>
        }
        <%= index == @chart_data.length - 1 ? "" : "," %>
      <% end %>
        ],
    "valueAxes": [{
        "maximum": <%= @chart_data[@winning_answer] + 1 %>,
        "minimum": 0,
        "axisAlpha": 0,
        "dashLength": 4,
        "position": "left"
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
        "bulletOffset": 16,
        "bulletSize": 34,
        "colorField": "color",
        "cornerRadiusTop": 20,
        "customBulletField": "bullet",
        "fillAlphas": 1,
        "lineAlpha": 0,
        "type": "column",
        "valueField": "responses"
    }],
    "marginTop": 0,
    "marginRight": 0,
    "marginLeft": 0,
    "marginBottom": 0,
    "autoMargins": false,
    "categoryField": "name",
    "categoryAxis": {
        "axisAlpha": 0,
        "gridAlpha": 0,
        "inside": true,
        "tickLength": 0
    }
});
</script>
<% end %>