<div class="container">
  <h2 class="lead text-center"><%= @prompt.people_around_text %></h2>
  <div class="row">
    <table class="table">
    <% x = 1 %>
      <% @chart_data.each do |prompt,responses| %>
        <% unless responses == 0 %>
          <% if x % 2 != 0 %><tr><% end %>
          <td>  
            <div id="box<%=x%>">
              <div class="dot"><%=prompt%>
                <% if @states_only == false %>
                  <br/><img src="/flags/flags_iso/48/<%= Answer.where(country: prompt).first.country_short.downcase%>.png"/>
                <% end %>
              </div>
              <% n = 0 %>
              <% while n < responses %>
                <% cm = 1 + rand(7) %>
                <% if [1,3,5].include? cm %><a href="#" data-toggle="modal" data-target="#myModal"><% end %>
                <%= image_tag "avatar_#{1 + rand(7)}.png", height: "90", class: "avatar#{x} speech_bubbles", title: "#{if [1,3,5].include? cm then "..." end}", data: { :toggle => "tooltip", :placement => "top"} %>
                <% if [1,3,5].include? cm %></a><% end %>
                <% n += 1 %>
              <% end %>
          
            </div>
          </td>
          <% if x % 2 == 0 %></tr><% end %>
        <% end %>  <%# unless...%>
    <% x += 1 %>
    <% end %>
    <% total_circles = x - 1 %>
    </table>
  </div>
</div>
 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send a message</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Enter your email address (so they can contact you back if they wish)"/><br/>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-send"></i> Send message</button>
      </div>
    </div>
  </div>
</div> 
  
<% content_for :footer do %>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('.speech_bubbles').tooltip('show')
})
<% x = total_circles %>
<% while x > 0 %>
        var circle<%=x%> = document.getElementById('box<%=x%>'),
        imgs<%=x%> = document.getElementsByClassName('avatar<%=x%>'),
        total<%=x%> = imgs<%=x%>.length,
        coords<%=x%> = {},
        diam<%=x%>, radius1<%=x%>, radius2<%=x%>, imgW<%=x%>;

    // get circle diameter
    // getBoundingClientRect outputs the actual px AFTER transform
    //      using getComputedStyle does the job as we want
    diam<%=x%> = parseInt( window.getComputedStyle(circle<%=x%>).getPropertyValue('width') ),
    radius<%=x%> = diam<%=x%>/2,
    imgW<%=x%> = imgs<%=x%>[0].getBoundingClientRect().width,
    // get the dimensions of the inner circle we want the images to align to
    radius2<%=x%> = radius<%=x%> - imgW<%=x%>

    var i,
        alpha<%=x%> = Math.PI / 2,
        len<%=x%> = imgs<%=x%>.length,
        corner<%=x%> = 2 * Math.PI / total<%=x%>;

    for ( i = 0 ; i < total<%=x%>; i++ ){

      imgs<%=x%>[i].style.left = parseInt( ( radius<%=x%> - imgW<%=x%> / 2 ) + ( radius2<%=x%> * Math.cos( alpha<%=x%> ) ) ) + 'px'
      imgs<%=x%>[i].style.top =  parseInt( ( radius<%=x%> - imgW<%=x%> / 2 ) - ( radius2<%=x%> * Math.sin( alpha<%=x%> ) ) ) + 'px'

      alpha<%=x%> = alpha<%=x%> - corner<%=x%>;
    };
<% x -= 1 %>
<% end %>
$(document).ready(function() {
  $(".avatar1").append('<img src="/img/speech_bubble.png"/>');
});
</script>
<% end %>
  
<% x = total_circles %>
  <% content_for :head do %>
  <style type="text/css">
        *,
    *:before,
    *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    #spacer {margin-top: 45px;}

    .dot{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 24px;
        text-align: center;
    }
<% x = total_circles %>
<% while x > 0 %>
    #box<%=x%>{
      margin: auto;
      width: <%= @chart_data[@winning_answer] > 10 ? "400px":"300px"%>;
      height: <%= @chart_data[@winning_answer] > 10 ? "400px":"300px"%>;
      position: relative;
      border-radius: 100%;
/*     border: 1px solid rgba(139, 168, 181, 0.42); */
    }
    #box<%=x%> img{
      position: absolute;
      -webkit-transition: all 1s;
    }
<% x -= 1 %>
<% end %>
</style>
<% end %>