<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Read the Room" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Read the Room" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= yield :footer %>
  </body>
</html>
