<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Read the Room" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Read the Room" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <style type="text/css">
      .navbar-inner {
          min-height: 0px;
      }
      
      .navbar-brand,
      .navbar-nav li a {
          line-height: 66px;
          height: 66px;
          padding-top: 0;
          margin-top: 5px;
      }
      .navbar-custom { background-color: #0DACDD; }
      .btn-orange { background: #FB923A; }
    </style>
    <%= yield :head %>
  </head>
  <body style="background-color: #fdfdfd;">
    <header>
      <nav class="navbar navbar-custom navbar-fixed-top"  height="66">
        <div class="container">
          <div class="navbar-header">
            <%= image_tag "philz_coffee_logo.png", class: "navbar-brand", height: "66" %>
          </div>
          <ul class="nav navbar-nav"><%=yield :navbar_message %></ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i><span class="caret"></span></a>
              <ul class="dropdown-menu">          
                <% if user_signed_in? %>
                  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
                <% else %>
                  <li><%= link_to 'Sign in', new_user_session_path %></li>
                  <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <% end %>
              </ul> 
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" style="padding-top: 40px;">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= yield :footer %>
  </body>
</html>